.header-localtion{
	font-size: 1rem;
	height: 100%;
	vertical-align: top;
}
.home-header,.home-content{
	width: 100%;
}
.home-header-btnteam{
	background-color: #FFFFFF;
	height: 100px;
	padding-top: 15px;
	box-shadow:0px 1px 5px #ccc ;
}
.home-header-btnteam,.home-header-btnteam>div{
	/*height: 120px;*/
	text-align: center;
}
.icon-super,.icon-takeout,.icon-breakfast,.icon-groupbuy{
	width: 45px;
	height: 50px;
	border-radius: 50px;
	background-position: center center; 
	background-repeat: no-repeat;
}
.icon-super{
	background-color: rgb(255,158,85);
	background-image: url(../images/super.png);
	
}
.icon-takeout{
	background-color: rgb(255,113,140);
	background-image: url(../images/takeout.png);
	
}
.icon-breakfast{
	background-color:rgb(156,219,41) ;
	background-image: url(../images/breakfast.png);
	
}
.icon-groupbuy{
	background-color: rgb(99,207,206);
	background-image: url(../images/Groupbuy.png);
	
}
/*----主体内容----*/
.home-content{
	margin-top: 10px;
	background-color: #FFFFFF;
	/*border-top:1px solid #CCCCCC ;*/
	/*border-bottom: 1px solid #CCCCCC;*/
	box-shadow:0px 1px 5px #ccc ;
}
/*内容主体(众筹专区)*/
.crowdfundbox{
	height: 13rem;
}
.crowdfundbox .crowdfundbox-title{
	text-align: center;
	font-size: 1.4rem;
	color: #666;
	padding-top: .5rem;
}

.crowdfundbox .crowdfundbox-content{
	margin: 1rem .5rem;
	height: 9rem;
	background-color: rgb(247,247,247);
}
.crowdfundbox-content .content-left,.crowdfundbox-content .content-right{
	float: left;
	height: 9rem;
	width: 9rem;
	padding: .5rem;
	/*background-color: red;*/
}
.crowdfundbox-content .content-left img{
	height: 100%;
}
.crowdfundbox-content .content-right{
	width: 13.5rem;
	padding: 1rem 3rem;
}
span.icon-time{
	width: 1.2rem;
	height: 1.2rem;
	background-image: url(../images/time.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	line-height: 100%;
	vertical-align: top;
	margin: .4rem 0 .4rem  0.25rem;
}
.crowdfundbox-content .content-right .time{
	height: 2rem;
	line-height: 2rem;
	border: 1px solid #999999;
	border-radius: .5rem;
/*	margin-bottom: .3rem;*/
}
.crowdfundbox-content .content-right .time .word{
	height: 2rem;
	line-height: 2rem;
	display: inline-block;
	vertical-align: top;
	
}
.crowdfundbox-content .content-right .title{
}


