html,body{
	font:12px "微软雅黑" ;
	/*font-size: 12px;*/
}
/*Mui有自己的栅格系统,不能嵌套切存在换行,所以增加一个mui-col样式,就解决了所有问题*/
.mui-col{
	margin-right: -4px;
	display: inline-block;
}
.icon{
	display: inline-block;
}


/*颜色*/
span.orange{
	color: orange;
}
